.navbar-light .navbar-brand {
    font-size: 1.2em;
    font-weight: 400;
}

.nav-link {
    letter-spacing: 0.1em;
}

.nav-link.active {
    text-decoration: line-through;
}
.nav-link:hover:not(.active){
    text-decoration: line-through;
    color: inherit !important;
}

img:not(.portrait) {
  height: auto;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
